:root {
  --black: #000000;
  --grey: #F2F2F2;
  --white: #FFFFFF;
  --white-transparent: rgba(255, 255, 255, 0.3);

  --grey-text: #333333;
  --grey-shadow: rgba(0, 1, 1, 0.2);

  --blue: #81B3D2;
  --blue-dark: #669EC0;
  --blue-darken: #5496BD;
  --brown: #766357;
  --brown-dark: #604E43;
  --brown-darken: #503E33;


/*font*/
  --main-font: "PT Sans", Arial, sans-serif;
  --fs-min: 14px;
  --fs-normal: 21px;
  --fs-max: 30px;
  --lh-min: 21px;
  --lh-normal: 24px;
  --lh-max: 26px;
  --fw-normal: 400;
  --fw-bold: 700;
}


.page-body {
  font-family: var(--main-font);
  font-size: var(--fs-min);
  line-height: var(--lh-min);
  font-weight: var(--fw-normal);
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--grey);
}

.page-wrapper {
  background: var(--white);
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 5px 15px var(--grey-shadow);
}

/*header*/

.main-header {
  background-color: var(--white);
}

.main-navigation {
  font-size: var(--fs-min);
  line-height: var(--lh-max);
  font-weight: var(--fw-bold);
}

.main-navigation-item {
  color: var(--black);
  text-decoration: none;
}

.main-navigation a:hover {
  color: var(--blue);
}

.main-navigation a:active {
  color: var(--black);
  opacity: 0.3;
}

.main-navigation .active {
  color: var(--brown);
}

.site-navigation {
  list-style: none;
}

/*main index*/

.intro-title {
  font-size: var(--fs-normal);
  line-height: var(--lh-max);
  font-weight: var(--fw-bold);
  text-align: center;
}

.intro-text {
  font-size: var(--fs-min);
  line-height: var(--lh-max);
  color: var(--grey-text);
  text-align: center;
}

.features-list {
  list-style: none;
}

.feature-item {
  background-color: var(--grey);
}

.wide-item {
  background-color: var(--blue);
  color: var(--white);
}

.wide-item .item-text {
  color: var(--white);
}

.item-title {
  font-size: var(--fs-normal);
  line-height: var(--lh-min);
  font-weight: var(--fw-bold);
  text-align: center;
}

.item-text {
  color: var(--grey-text);
  text-align: center;
}

.features-list-additional {
  list-style: none;
}

.search-hotels {
  text-align: center;
}

.search-title {
  font-size: var(--fs-max);
  line-height: var(--lh-normal);
  font-weight: var(--fw-bold);
}

.search-text {
  font-size: var(--fs-min);
  line-height: var(--lh-normal);
}

.button {
  color: var(--white);
  font-weight: var(--fw-bold);
  text-decoration: none;
}

.search-button {
  font-size: var(--fs-normal);
  line-height: var(--lh-max);
  background-color: var(--brown);
}

.search-button:hover {
  background-color: var(--brown-dark);
}

.search-button:active {
  background-color: var(--brown-darken);
  color: var(--white-transparent);
}


/*footer*/

.main-footer {
  background-color: var(--white);
  opacity: 0.9;
}

.footer-contacts {
  font-size: var(--fs-normal);
  line-height: var(--lh-max);
  font-weight: var(--fw-bold);
  text-align: center;
}

.footer-contacts-phone {
  text-decoration: none;
  color: var(--black);
}

.social-list {
  list-style: none;
}

.social-button {
  background-color: var(--blue);
}

.social-button:hover {
  background-color: var(--blue-dark);
}

.social-button:active {
  background-color: var(--blue-darken);
  color: var(--white-transparent);
}

.footer-copyright{
  font-size: var(--fs-min);
  line-height: var(--lh-max);
}
