:root{
  --black: #000000;
  --grey: #F2F2F2;
  --white: #FFFFFF;
  --white-transparent: rgba(255, 255, 255, 0.3);
  --white-transparent-min: rgba(255, 255, 255, 0.9);
  --white-transparent-max: rgba(255, 255, 255, 0);

  --grey-text: #333333;
  --grey-rating: #666666;
  --grey-logo: #BDBBBC;
  --grey-shadow: rgba(0, 1, 1, 0.2);
  --grey-border: #E5E5E5;
  --grey-input: #EBEBEB;
  --grey-toggle: #ABABAB;
  --grey-svg: #A9A9A9;

  --blue: #81B3D2;
  --blue-dark: #669EC0;
  --blue-darken: #5496BD;
  --brown: #766357;
  --brown-dark: #604E43;
  --brown-darken: #503E33;

  --wrapper-width: 1200px;


/*font*/
  --main-font: "PT Sans", Arial, sans-serif;
  --fs-extra-min: 12px;
  --fs-min: 14px;
  --fs-medium: 16px;
  --fs-normal: 21px;
  --fs-max: 30px;
  --lh-extra-min: 18px;
  --lh-min: 21px;
  --lh-normal: 24px;
  --lh-max: 26px;
  --fw-normal: 400;
  --fw-bold: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  font-family: var(--main-font);
  font-size: var(--fs-min);
  line-height: var(--lh-min);
  font-weight: var(--fw-normal);
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--grey);
}

.page-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: var(--wrapper-width);
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0px 5px 15px var(--grey-shadow);
}

.inner {
  padding-left: 73px;
  padding-right: 73px;
}

/*header*/

.main-header {
  background-color: var(--white);
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-min);
  line-height: var(--lh-max);
  font-weight: var(--fw-bold);
}

.main-navigation-link {
  color: var(--black);
  text-decoration: none;
}

.main-navigation a:hover {
  color: var(--blue);
}

.main-navigation a:active {
  color: var(--black);
  opacity: 0.3;
}

.main-navigation .active {
  color: var(--brown);
}

.main-header-logo {
  order: 1;
  z-index: 1;
  top: 0;
  width: 138px;
  height: 56px;
}

.main-navigation-item {
  flex-grow: 1;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  flex-basis: 531px;
}

.navigation-left {
  align-items: center;
  text-align: left;
}

.navigation-right {
  order: 2;
  align-items: center;
  text-align: right;
}

/*main index*/

.image-slide {
  background-image: url("../img/background/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 509px;
}

.photo-text {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.image-slide::before {
  position: relative;
  content: url("../img/background/shape.svg");
  bottom: -453px;
}

.subtitle-features {
  padding-top: 22px;
  padding-bottom: 39px;
  padding-left: 340px;
  padding-right: 340px;
}

.intro-title {
  font-size: var(--fs-normal);
  line-height: var(--lh-max);
  font-weight: var(--fw-bold);
  text-align: center;
  margin-bottom: 41px;
}

.intro-text {
  font-size: var(--fs-min);
  line-height: var(--lh-max);
  color: var(--grey-text);
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  margin: 0;
  padding: 0;
}

ol.features-list {
  counter-reset: section;
  list-style: none;
}

.counter::before {
  counter-increment: section;
  content: "— №" counter(section) " —";
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  width: 100px;
  margin-bottom: 23px;
  margin-top: 5px;
}

.feature-item {
  background-color: var(--grey);
}

.wide-item {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: start;
  grid-column-start: 1;
  grid-column-end: 4;
}

.short-item {
  padding: 26px 60px 40px;
}

.feature-text {
  padding: 26px 45px 41px;
}

.feature-image {
  line-height: 0;
}

.right-item {
  flex-direction: row-reverse;
}

.wide-item-title {
  font-size: var(--fs-normal);
  line-height: var(--lh-min);
  font-weight: var(--fw-bold);
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.wide-item-text {
  color: var(--white);
  text-align: center;
}


.item-title {
  font-size: var(--fs-normal);
  line-height: var(--lh-min);
  font-weight: var(--fw-bold);
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

.item-text {
  color: var(--grey-text);
  text-align: center;
}

.features-additional {
  grid-column-start: 1;
  grid-column-end: 4;
}

.features-list-additional {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.features-item-additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 54px;
  padding-left: 50px;
  padding-right: 50px;
}

.features-item-text {
  color: var(--grey-text);
  text-align: center;
  margin-top: 4px;
  margin-bottom: 28px;
}

.item-title-house::before {
  display: block;
  content: "";
  position: relative;
  left: 50%;
  margin-left: -37px;
  width: 75px;
  height: 77px;
  background-image: url("../img/svg-icon/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
  margin-bottom: 28px;
}

.item-title-food::before {
  display: block;
  content: "";
  position: relative;
  left: 50%;
  margin-left: -37px;
  width: 75px;
  height: 77px;
  background-image: url("../img/svg-icon/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
  margin-bottom: 28px;
}

.item-title-souvenirs::before {
  display: block;
  content: "";
  position: relative;
  left: 50%;
  margin-left: -37px;
  width: 75px;
  height: 77px;
  background-image: url("../img/svg-icon/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
  margin-bottom: 28px;
}

.search-hotels {
  text-align: center;

  margin-left: 316px;
  margin-right: 316px;
}

.search-title {
  font-size: var(--fs-max);
  line-height: var(--lh-normal);
  font-weight: var(--fw-bold);
  margin-top: 57px;
  margin-bottom: 33px;
}

.search-text {
  font-size: var(--fs-min);
  line-height: var(--lh-normal);
}

.button {
  color: var(--white);
  font-weight: var(--fw-bold);
  text-decoration: none;
  cursor: pointer;
}

.search-button {
  display: block;
  text-align: center;
  font-size: var(--fs-normal);
  line-height: var(--lh-max);
  background-color: var(--brown);
  padding: 30px 30px;
  margin-top: 44px;
}

.search-button:hover {
  background-color: var(--brown-dark);
}

.search-button:active {
  background-color: var(--brown-darken);
  color: var(--white-transparent);
}

.find-button {
  text-align: center;
  font-size: var(--fs-normal);
  line-height: var(--lh-max);
  background-color: var(--blue);
  padding: 16px 25px;
  margin-top: 30px;
  border: none;
  text-transform: uppercase;
  width: 100%;
}

.find-button:hover {
  background-color: var(--blue-dark);
}

.find-button:active {
  background-color: var(--blue-darken);
  color: var(--white-transparent);
}

.search-hotels-modal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-search {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--white);
  width: 568px;
}

.search-hotel-form {
  font-size: var(--fs-min);
  line-height: var(--lh-max);
  font-weight: var(--fw-bold);
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 55px;
  width: 100%;
}

.search-hotel-form-item {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.search-hotel-form-item-label {
  flex-grow: 1;
}

.search-hotel-form-item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 75%;
  }

.search-hotel-form-input {
  border: none;
  background-color: var(--grey);
  font-size: var(--fs-min);
  line-height: var(--lh-max);
  font-weight: var(--bold);
  color: var(--black);
  padding: 6px 12px;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
}

.search-hotel-form-input:hover {
  background-color: var(--grey-input);
}

.search-hotel-form-input:focus {
  background-color: var(--white);
  outline: 2px solid var(--grey-border);
  outline-offset: -2px;
}

.search-hotel-form-input::placeholder {
  color: var(--black);
  opacity: 1;
}

.calendar {
  border: 0;
  color: var(--grey-svg);
}

.flex-age-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.flex-age-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.flex-age {
  width: 114px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}

.flex-age-label-adult {
  margin-right: 42px;
  flex-grow: 1;
}

.flex-age-label-child {
  margin-right: 27px;
  flex-grow: 1;
}

.input-age {
  text-align: center;
  border: none;
  background-color: var(--grey);
  font-size: var(--fs-min);
  line-height: var(--lh-max);
  font-weight: var(--bold);
  color: var(--black);
  height: 26px;
  padding: 6px 12px;
  text-transform: uppercase;
  width: 15px;
}

.input-age::placeholder {
  color: var(--black);
  opacity: 1;
}

.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-align: center;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-align: center;
}

.calendar:hover {
  color: var(--black);
}

.calendar:active {
  color: var(--blue);
}

.calendar-svg path {
  fill: currentColor;
}

.minus {
  color: var(--grey-svg);
  padding: 0 13px;
}

.plus{
  color: var(--grey-svg);
  padding: 0 13px;
}

.minus:hover {
  color: var(--black);
}

.minus:active {
  color: var(--blue);
}

.minus-svg path {
  fill: currentColor;
}

.plus:hover {
  color: var(--black);
}

.plus:active {
  color: var(--blue);
}

.plus-svg path {
  fill: currentColor;
}

.map {
  background-image: url("../img/map/map.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 594px;
  margin-bottom: -119px;
}

/*hotels-page*/

.results {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 6px;
  padding-bottom: 9px;
}

.results-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  font-size: var(--fs-normal);
  line-height: var(--lh-max);
  font-weight: var(--fw-bold);
  padding-right: 45px;
  margin-top: 23px;
}

.sort-title {
  font-size: var(--fs-extra-min);
  line-height: var(--lh-extra-min);
  font-weight: var(--fw-normal);
  align-self: center;
  margin-right: 45px;
}

.sort {
  font-size: var(--fs-extra-min);
  line-height: var(--lh-extra-min);
  font-weight: var(--fw-normal);
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, auto);
  align-self: center;
}

.sort-item {
  text-decoration: none;
}

.sort-item.active {
  color: var(--blue);
}

.sort-item.passive {
  color: var(--black);
  opacity: 0.3;
  border-bottom: var(--blue) dotted 1px;
}

.icon-dir {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.results-sort-button {
  border: none;
  background-color: var(--white);
  cursor: pointer;
  padding: 0;
}

.results-sort-button:last-child {
  margin-left: 12px;
}

.result-hotels{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(3, auto);
  margin-top: 0;
  margin-bottom: 0;
}

.result-hotels-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--grey-border);
}

.result-hotels-item:last-child {
  border-bottom: 1px solid var(--grey-border);
}

.hotel-legend {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
  margin-top: 24px;
  margin-bottom: 30px;

}

.result-hotels-link-photo {
  grid-row: 1/4;
  margin-right: 29px;
  line-height: 0;
  margin-top: 7px;
}

.result-hotels-link-name {
  text-decoration: none;
  grid-column: 2/4;
}

.hotel-title {
  font-size: var(--fs-normal);
  line-height: var(--lh-max);
  font-weight: var(--fw-bold);
  color: var(--black);
  margin: 0;
  margin-bottom: 7px;
}

.result-hotels-text {
  font-size: var(--fs-min);
  line-height: var(--lh-min);
  font-weight: var(--fw-normal);
  color: var(--grey-text);
  margin: 0;
  margin-bottom: 15px;
}

.more-button {
  font-size: var(--fs-min);
  line-height: var(--lh-min);
  background-color: var(--blue);
  margin-right: 6px;
  padding: 3px 16px 3px 17px;
}

.booking-button {
  font-size: var(--fs-min);
  line-height: var(--lh-min);
  background-color: var(--brown);
  padding: 3px 17px 3px 16px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.rating-stars {
  margin-bottom: 25px;
}

.rating-text {
  font-size: var(--fs-min);
  line-height: var(--lh-min);
  font-weight: var(--fw-normal);
  color: var(--grey-rating);
  background-color: var(--grey);
  padding: 3px 12px 3px 15px;
  margin-bottom: 0;
}

/*filter*/

.hotels-filter {
  font-size: var(--fs-min);
  line-height: var(--lh-min);
  font-weight: var(--fw-normal);
  color: var(--white);
  background-image: url("../img/background/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.hotels-filter-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.filter-fieldset {
  border: none;
  padding: 0;
  margin-top: 26px;
  margin-left: 0;
  margin-bottom: 5px;
}

.legend {
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  margin-bottom: 24px;
}

.legend-cost {
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  margin-bottom: 11px;
}

.section-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.check-fieldset {
  margin-right: 118px;
}

.check-fieldset:last-child {
  margin-right: 0;
}

.cost-fieldset-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-list {
  list-style: none;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

.filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 26px
}

.filter-input-checkbox + .filter-label::before {
  content: "";
  position: absolute;
  left: -41px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg-icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.filter-input-checkbox:checked + .filter-label::before {
  content: "";
  position: absolute;
  left: -41px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg-icon/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.filter-input-checkbox:disabled + .filter-label::before {
  content: "";
  position: absolute;
  left: -41px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg-icon/checkbox-off-block.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.filter-input-checkbox:checked:disabled + .filter-label::before {
  content: "";
  position: absolute;
  left: -41px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg-icon/checkbox-on-block.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 19px;
  border: 2px solid var(--white);
  width: 100%;
}

.price-controls-input {
  text-align: center;
  border: none;
  background-color: var(--white-transparent-max);
  color: var(--white);
  text-transform: uppercase;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-right: 0;
  padding-left: 0;
}

.price-controls-input:last-child {
  padding-right: 1px;
}

.price-controls-input::placeholder {
  color: var(--white);
  opacity: 1;
}

.price-controls::after {
  content: "";
  position: relative;
  right: 50%;
  border: 1px solid var(--white);
}

.scale {
  height: 2px;
  background-color: var(--white-transparent);
  width: 101%;
}

.bar {
  height: 2px;
  background-color: var(--white);
  width: 82%;
}

.range-controls {
  position: relative;
  margin-bottom: 20px;
}

.toggle {
  display: block;
  position: absolute;
  top: -9px;
  left: 0;
  width: 19px;
  height: 19px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--grey-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 0 var(--grey-toggle);
}

.toggle-max {
  left: 252px;
}

.toggle:hover {
  transform: scale(1.2);
  transition: 0.2s background-color, 0.2s color;
}


.filter-button {
  background-color: var(--white-transparent-max);
  color: var(--white);
  text-transform: uppercase;
  padding: 8px 33px;
  border: 2px solid var(--white);
  margin-left: -11px;
  margin-top: 8px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--white);
  color: var(--black);
}

/*footer*/

.main-footer {
  background-color: var(--white-transparent-min);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.footer-contacts {
  font-size: var(--fs-normal);
  line-height: var(--lh-max);
  font-weight: var(--fw-bold);
  text-align: center;
  padding-top: 23px;
  padding-left: 73px;
}

.footer-contacts-text {
  margin: 0;
  padding-bottom: 8px;
}

.footer-phone {
  margin: 0;
}

.footer-contacts-phone {
  text-decoration: none;
  color: var(--black);
  margin: 0;
}

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-button {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.social-item {
  margin-right: 6px;
  margin-top: 35px;
  margin-bottom: 36px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-button:hover {
  background-color: var(--blue-dark);
}

.social-button:active {
  background-color: var(--blue-darken);
  color: var(--white-transparent);
}

.footer-copyright{
  font-size: var(--fs-min);
  line-height: var(--lh-max);
  padding-right: 73px;
  padding-top: 34px;
  text-align: center;
}

.htmlacademy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-htmlacademy {
  margin-left: 9px;
}

.logo-htmlacademy:hover {
  fill: var(--blue);
}

.logo-htmlacademy:active {
  fill: var(--grey-logo);
}
